#--- Misc -------------------------
.DS_Store
**/_archives
crash.log
#--- Project ------------------------
**/payloads
**/data
sastre_backup
init.sh
requests/devices.json
.env.bak
catalystwan.log
requests/devices.json
**/sdwan.log
logs/
#--- python -------------------------
__pycache__/
*.py[cod]
*$py.class
#--- venv ---------------------------
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
#--- IDE project files --------------
.vscode/
*.code-workspace
.zed
ruff.toml
.ruff_cache
